# Dependencies
node_modules/

# npm
npm-debug.log*
package-lock.json

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~

# ioBroker / Test
*.log
tmp/
scc-start-marker.txt

#ignore .commitinfo created by ioBroker release script
.commitinfo
